* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}
/* nawigacja */
.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0;
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	color: #fff;
	padding: 0 150px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	transition: color 0.3s;
}
.nav-item a:hover {
	color: royalblue;
}
/* header */

.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/planet-g2abe6e8d7_1920.jpg');
	background-size: cover;
	background-position: 0 50%;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 5;
}
.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}
.header-text h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/* main */
main {
	width: 1200px;
	margin: 50px auto;
}
main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
.about-us-box {
	margin: 40px 0;
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}
.top {
	background-image: url('../img/coffee-gc4d4b276f_1920.jpg');
}
.middle {
	background-image: url('../img/mobile-phone-g789007fae_1920.jpg');
}
.bottom {
	background-image: url('../img/office-g0f33bd283_1920.jpg');
}
.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}
.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.about-us-text h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
}
/* footer */
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}
.icon-box {
	margin: 20px;
}
.icon-box a {
	color: #ddd;
	margin: 0 5px;
	font-size: 30px;
	transition: color 0.3s;
}
.icon-box a:hover {
	color: royalblue;
}
/* uslugi */
.service-list {
	margin: 0 auto;
	width: 200px;
}
/* cennik */
.price-table {
	margin: 0 auto;
}
.price-table td {
	padding: 30px;
}
/* kontakt */
.icons-contact {
	margin: 0 auto;
	width: 100px;
	
}
